*   External Style Sheet for newProduct.html page for Project1
     Author:  Lu Lin
     Date:    2013/02/10
*/ 
header, footer {
    display: block;
}

/*---------------------------------------------*/


p#pend   {
        text-align: right;
}